dl,dd{
    -webkit-text-stroke-width: 0px;
    -moz-text-stroke-width: 0px;
    -o-text-stroke-width: 0px;
    -ms-text-stroke-width: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing:border-box;
}
input,select,textarea {
    vertical-align:middle;
    width: auto;
    outline: none;
    border:0;    
}
select {
    appearance: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
}
img {
    vertical-align:middle;
    border:0;
    outline:none;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing:0px;
    border: 0;
}
.page-wrap{
	background: #fff;
	margin-bottom: 20px;
}
.news-title{
	text-align: center;
	font-size: 20px;
	color: #333;
	font-weight: normal;
	padding: 15px 0;
	border-bottom: 1px dotted #666;
}
.ssq_area{
    clear: both;
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}
.select_ball_area{
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}
.redball_area{
    float: left;
    width:480px;
}
.redball_rule{
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
.redball_rule strong{
    font-size: 15px;
    color: red;
    margin-right: 5px;
}
.redball_selected_area{
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-left: 40px;
    position: relative;
}
.redball_selected_area dt{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.redball_selected_area dt p{
    clear: both;
    width: 30px;
    height: 20px;
    line-height: 18px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    background-color: #ccc;
    margin: 5px 0px;
    text-align: center;
}
.redball_selected_area dt span{
    clear: both;
    width: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-align: center;
}
.redball_selected_area dd{
    float: left;
    width: 40px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
}
.redball_selected_area dd p{
    clear: both;
    width: 30px;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 20px;
    background-color:#eee;
    font-size: 16px;
    color:#333;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.redball_selected_area dd p.active1{
    background-color: red;
    color:#fff;
}
.redball_selected_area dd span{
    clear: both;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color:#ccc;
    text-align: center;
}

.blueball_area{
    float: left;
    width:240px;
    margin-left: 20px;
}
.blueball_rule{
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
.blueball_rule strong{
    font-size: 15px;
    color: blue;
    margin-right: 5px;
}
.blueball_area ul{
    clear: both;
    width: 100%;
    overflow: hidden;
}
.blueball_area ul li{
    float: left;
    width: 40px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
}
.blueball_area ul li p{
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 20px;
    background-color:#eee;
    font-size: 16px;
    color:#333;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.blueball_area ul li p.active2{
    background-color: blue;
    color:#fff;
}
.blueball_area ul li span{
    clear: both;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color:#ccc;
    text-align: center;
}
.blueball_area ul li.selectall_box{
    float: left;
    width: 40px;
    height: 25px;
    line-height: 23px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.blueball_area ul li.selectall_box:hover{
    color: red;
}
.machine_redselected_area{
    clear: both;
    width: 100%;
}
.machine_redselected_area dl{
    float: left;
    width: 45px;
    position: relative;
}
.machine_redselected_area dl dt{
    clear: both;
    width: 100%;
    height: 25px;
    border: 1px solid #000;
    padding: 2px;
}
.machine_redselected_area dl dt em{
    float: left;
    width: 55%;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-style:normal;
}
.machine_redselected_area dl dt span{
    float: left;
    width:45%;
    height: 21px;
    line-height: 25px;
    overflow: hidden;
    font-size: 12px;
    color: #000;
    text-align: center;
    cursor: pointer;
}
.machine_redselected_area dl dd{
    display:none;
    clear: both;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 0px;
}
.machine_redselected_area dl dd p{
    clear: both;
    width: 100%;
    height: 18px;
    line-height:18px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-indent: 8px;
}
.machine_redselected_area dl dd p:hover{
    background-color:#09c;
}
.machine_redselected_area strong{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
#machineSelectedred{
	margin-left: 40px;
}
.machine_blueselected_area{
    clear: both;
    width: 100%;
}
.dlt_area{
	margin-top: 130px;
}
.machine_blueselected_area dl{
    float: left;
    width: 45px;
    position: relative;
}
.machine_blueselected_area dl dt{
    clear: both;
    width: 100%;
    height: 25px;
    border: 1px solid #000;
    padding: 2px;
}
.machine_blueselected_area dl dt em{
    float: left;
    width: 55%;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-style:normal;
}
.machine_blueselected_area dl dt span{
    float: left;
    width:45%;
    height: 21px;
    line-height: 25px;
    overflow: hidden;
    font-size: 12px;
    color: #000;
    text-align: center;
    cursor: pointer;
}
.machine_blueselected_area dl dd{
    display: none;
    clear: both;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 0px;
}
.machine_blueselected_area dl dd p{
    clear: both;
    width: 100%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    text-indent: 8px;
}
.machine_blueselected_area dl dd p:hover{
    background-color:#09c;
}
.machine_blueselected_area:hover{
    color: red;
}
.btn-blue{
	background: blue;
}
.machine_blueselected_area strong{
   	height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.confirm_selected_area{
    display: block;
    clear: both;
    width: 100%;
    border-top: 1px solid #999;
    padding-top: 20px;
}
.confirm_ballnums{
    clear: both;
    width: 250px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    margin: 0 auto;
    text-align: center;
}
.confirm_area{
    clear: both;
    width: 100%;
    margin-top: 10px;
}
.confirm_box{
    display: block;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    color: #ff8140;
    border: 1px solid #F48C37;
    background-color: #fff;
    text-align: center;
    margin-left: 40%;
    cursor: pointer;
}
.confirm_box:hover{
    background-color:#ffecec;
}

.empty_box{
	display: inline-block;
	height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
}
